@font-face {
    font-family: 'HindiSiliGuriRegular';
    src: url('./fonts/HindSiliguri-Regular.woff') format('woff'),
    url('./fonts/HindSiliguri-Regular.woff2') format('woff2')
    ;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nilima';
    src: url('./fonts/Nilima.woff') format('woff'),
    url('./fonts/Nilima.woff2') format('woff2')
    ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bensen';
    src: url('./fonts/BenSen.woff') format('woff'),
    url('./fonts/BenSen.woff2') format('woff2')
    ;
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'NotoSansBangali';
    src: url('./fonts/NotoSansBengali-Regular.woff') format('woff'),
    url('./fonts/NotoSansBengali-Regular.woff2') format('woff2')
    ;
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BanglaKolom';
    src: url('./fonts/Bangla_Kolom_Regular.woff') format('woff'),
    url('./fonts/Bangla_Kolom_Regular.woff2') format('woff2')
    ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LalSabuj';
    src: url('./fonts/Lal_Sabuj_Normal.woff') format('woff'),
    url('./fonts/Lal_Sabuj_Normal.woff2') format('woff2')
    ;
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Siyamrupali';
    src: url('./fonts/siyamrupali.woff') format('woff')
    ;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kalpurush';
    src: url('./fonts/kalpurush.woff') format('woff'),
    url('./fonts/kalpurush.woff2') format('woff2')
    ;
    font-weight: normal;
    font-style: normal;
}
